fastapi==0.104.1
uvicorn[standard]==0.24.0
httpx==0.25.2
python-multipart==0.0.6
torch>=2.0.0
torchvision
torchaudio
diffusers>=0.21.0
transformers>=4.25.0
accelerate>=0.20.0
safetensors>=0.3.0
xformers
peft
onnx==1.18.0
onnxruntime-gpu==1.22.0
onnx-graphsurgeon==0.5.8
tensorrt==10.11.0.33
tensorrt-stubs==10.11.0.33.1
cuda-python==12.9.0

colored