tensorrt==10.11.0.33
tensorrt-stubs==10.11.0.33.1

onnx==1.18.0
onnxruntime-gpu==1.22.0
onnx-graphsurgeon==0.5.8

torch==2.6.0
torchvision
torchaudio

diffusers==0.34.0
transformers==4.53.0
polygraphy==0.49.24

cuda-python==12.9.0
accelerate>=0.20.0
safetensors>=0.3.0
xformers
peft

fastapi==0.104.1
uvicorn[standard]==0.24.0
httpx==0.25.2

colored
python-multipart==0.0.6
