tensorrt==10.12.0.36

onnx==1.18.0
onnxruntime-gpu==1.22.0
onnx-graphsurgeon==0.5.8
onnxscript==0.3.1

--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.7.1
torchvision
torchaudio

diffusers==0.34.0
transformers==4.53.0
polygraphy==0.49.24

compel==2.1.1

cuda-python==12.9.0
accelerate>=0.20.0
safetensors>=0.3.0
xformers==0.0.31
peft==0.15.2

fastapi==0.104.1
uvicorn[standard]==0.24.0
httpx==0.25.2

colored
python-multipart==0.0.6
tqdm
Pillow

scipy==1.13.0
psutil
